apscheduler==3.9.1.post1 ; python_version >= "3.9" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.9" and python_version < "4"
pytz==2022.6 ; python_version >= "3.9" and python_version < "4"
setuptools==65.6.3 ; python_version >= "3.9" and python_version < "4"
six==1.16.0 ; python_version >= "3.9" and python_version < "4"
tzdata==2022.6 ; python_version >= "3.9" and python_version < "4"
tzlocal==4.2 ; python_version >= "3.9" and python_version < "4"
